<div class="hero bg-gray">
  <div class="hero-body">
    <div class="left-content">
      <h3>Welcome to MyEats</h3>
      <p>Want to share or cook something tasty?</p>
    </div>
    <%= image_tag "spices.jpg", class: "img-responsive" %>
    <%= link_to "Sign up", signup_path, class: "btn btn-default" %>
  </div>
</div>

<div class="card">
  <div class="card-image">
<!--    <img src="img/osx-el-capitan.jpg" class="img-responsive">-->
  </div>
  <div class="card-header">
    <div class="card-title h5">Cook this</div>
    <div class="card-subtitle text-gray">type of cuisine</div>
  </div>
  <div class="card-body">
    Some recipe details ...
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">View Details</button>
  </div>
</div>