.cooks-index-container {
  .card {
    height: 225px;
    max-height: 225px;
  }

  .pagination-items {
    em.current {
      font-style: normal;
      color: #595948;
    }
    a, .previous_page.disabled ,
    .next_page.disabled{
      color: #D9AB82;
    }
  }
}


.cooks-show-container {
  .tab-item:hover {
    cursor: pointer;
  }
  .tab-item.active {
    border-bottom: 2px solid #fad2c8;
  }
  .tile-content {
    display: none;
    .tile-recipes-group {
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin: 6px 0;
    }
    .divider:last-child {
      display: none;
    }
  }
}