$navbar-default-bg: #f7f2ee;
$navbar-font-color: #111112;

@import "spectre";

.navbar {
  background-color: $navbar-default-bg;
  padding: 12px;

  .navbar-section {
    .input-group {
      .form-input {
        margin-right: 2px;
      }
      .form-input:focus {
        box-shadow: none;
        border-color: $navbar-default-bg;
      }
      .btn {
        background-color: $navbar-default-bg;
        border: none;
        color: $navbar-font-color;
      }
    }
  }
}

#logo {
  letter-spacing: .2px;
  color: $navbar-font-color;
}

#logo:hover {

}

.hero {
  align-items: center;
  .hero-body {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .img-responsive {
    width: 325px;
  }
}

.footer-container {
  min-height: 60px;
  height: 60px;
  width: 100%;
  background-color: $navbar-default-bg;
  padding: 12px;
}